.ContainerProfileUser {
  transform: translateY(-38px);
}
.waveCss {
  height: 150px;
  background: url("../../../../assets/images/just static data/bgStatic.png")
    no-repeat center center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
}
.darkmode {
  background: url("../../../../assets/images/just static data/darkbgStatic.png")
    no-repeat center center;
  background-size: cover;
}
.waveCss img {
  width: 100%;
  /* height: 100%; */
}
.roundAvatar img {
  border-radius: 50%;
}
.containerinfoUser {
  transform: translate(0, -90px);
}
.containerAvatarUser {
  max-height: 160px;
}
.containerCupUser {
  width: 600px;
  border: 1px solid red;
  border-radius: 5px;
  height: 300px;
}
