@import url('../../../../App.css');
.userInfo {
  color: var(--text-color-userInfo);
}
.cupContaienr img {
  width: 100px;
}
.titleClass {
  font-size: var(--size-font-sm2);
  color: var(--text-dark);
}
.titleClassShow {
  color: var(--bg-btnActive) !important;
}
.teacherCardPhoto img {
  width: 100px;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.containerClassInfo {
  font-size: 13px;
  color: var(--text-colorCardClass);
}
.flagClass {
  font-size: 12px;
  padding: 0.3rem;
  border-radius: 5px;
}
.flagTestClass {
  background-color: #ff475634;
  color: #ff4757;
}
.flagPrivateClass {
  background-color: rgba(232, 249, 244, 0.836);
  color: rgb(0, 184, 126);
}
.btnActionCardClass button {
  background-color: transparent;
  border: 1px solid var(--bg-btnActive) !important;
  font-size: 14px !important;
  transition: var(--time);
}
.btnActionCardClass button:hover {
  background-color: var(--bg-btnActive);
  color: #fff;
}
.numberClass {
  color: var(--text-dark);
}
/* favorite products */
.size1 {
  font-size: 13px;
}
.size2 {
  font-size: 14px;
}
.size3 {
  font-size: 15px;
}
.iconFavorite {
  background-color: var(--favorite-products-bg);
  color: var(--favorite-products-color);
}
.iconFavoriteTeacher {
  background-color: var(--favorite-teachers-bg);
  color: var(--favorite-teachers-color);
}
/* linter box */
.iconLinterBox {
  background-color: var(--favorite-words-bg);
  color: var(--favorite-words-color);
}
.iconDictionary {
  background-color: var(--dictionary-bg);
  color: var(--dictionary-text);
}
/* user wallet */
.walletContainer {
  width: 100%;
  height: 100%;
}
.walletContainerInfo {
  background: url('../../../../assets/card-background1.png') no-repeat center
    center;
  background-size: cover;
  position: relative;
  min-height: 210px;
  max-width: 80%;
  border-radius: 5px;
  color: var(--text-white);
}
.cupimg {
  transition: all 0.4s ease-in;
}
.cupimg:hover {
  transform: translateY(-4px);
}
