@import url('../../App.css');
.containerSidebarCol {
  width: 220px;
  height: 100vh;
  background: var(--sidebar-bg);
  box-shadow: 0 2px 4px rgb(15 34 58 / 12%);
  border-left: 1px solid var(--border-sidebar);
  transition: all var(--time) ease-in-out;
  z-index: 99;
  display: flex;
  right: 0;
}
.containerLogos {
  width: 75px;
  padding: 0.4rem;
  overflow-y: auto;
  background-color: var(--sidebar-twocol-bg-small) !important;
}

.containerLinks {
  width: 220px;
  background-color: var(--sidebar-bg-two) !important;
}
.contentIconsSidebarT {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contentIconsSidebarT img {
  width: 70%;
  object-fit: contain;
}
.sideIcont {
  padding: 8px 1px;
  color: var(--defaultColor) !important;
}
.activeIconside {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff !important;
}
.containerLinkItem {
  overflow: hidden;
  padding: 0.4rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.containerLinkItem img {
  width: 80%;
  object-fit: contain;
}
.itemLinkSidebarT {
  color: var(--defaultColor);
  transition: var(--time);
}
.itemLinkSidebarT:hover {
  color: var(--text-white);
}
.activeLink {
  color: var(--text-white);
}
