@import url('../../../../App.css');
.select-menu {
  border: 1px solid var(--border-sidebar) !important;
  border-radius: 30px;
  background: #fff;
  width: 150px;
  position: relative;
  box-shadow: 0 0 5px rgb(0 0 0 / 15%);
  transition: 0.4s ease;
}
.select-menu:hover {
  box-shadow: none;
  width: 148px;
}
.select-btn {
  display: flex;
  z-index: 12;
  align-items: center;
  cursor: pointer;
  justify-content: center;

  position: relative;
}
.sBtn-text {
  font-size: 16px;
}
.options {
  position: absolute;
  overflow-y: auto;
  width: 120px;
  display: none;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 5px 3px rgb(0 0 0 / 10%);
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 0.35s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
  right: -4px;
  z-index: 50;
}
.option {
  display: flex;

  cursor: pointer;
  width: 100%;
  align-items: center;
  background: #fff;
  padding: 10px 5px;
  transition: var(--time);
}
.option:hover {
  background-color: var(--bg-header-default);
}
.select-menu.activeSelect {
  background-color: var(--bg-header-default);
}
.select-menu.activeSelect .closeMode {
  background-color: var(--bg-siderbar-vertical);
  border-radius: 50%;
  transform: translateX(-4px);
  font-size: 19px;
  color: #fff;
  margin: 4px;
  position: absolute;
  right: 1%;
  top: 14%;
}
.angleActive {
  transform: rotate(-180deg);
}
.select-menu.activeSelect .options {
  display: block;
  opacity: 0;
  z-index: 10;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  top: 110%;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 10px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 10px, 0);
  }
}
