.bgCoverTeacher {
  width: 100%;
  margin-top: 20px;
  height: 230px;
  overflow: hidden;
}
.bgCoverTeacher img {
  height: 100%;
  width: 100%;

  border-radius: 10px;
}
.teacherImgContaienr {
  width: 150px;
  margin: 0 0 0 10px;
}
.teacherImg {
  transform: translateY(-90px);
  border-radius: 20px;
  border: 6px solid #fff;
  width: 100%;
}
.containerVedioFixed {
  width: 350px;
  height: 500px;
  margin-top: 10px;
  border-radius: 5px;
}
.containerVedioFixed img {
  width: 100%;
}
