.bgCoverTeacher {
  width: 100%;
  margin-top: 20px;
  height: 230px;
  overflow: hidden;
}
.reserveClassDateTime {
  min-height: 460px;
}
.bgCoverTeacher img {
  height: 100%;
  width: 100%;

  border-radius: 10px;
}
.teacherImgContaienr {
  width: 150px;
  margin: 0 0 0 10px;
}
.teacherImg {
  transform: translateY(-90px);
  border-radius: 20px;
  border: 6px solid #fff;
  width: 100%;
}
.containerVedioFixed {
  /* width: 350px;
  height: 500px; */
  margin-top: 10px;
  border-radius: 5px;
}
.containerVedioFixed img {
  width: 100%;
}
.textIntro {
  text-align: left;
}
.containerTextIntro {
  height: 200px;
  overflow: hidden;
  position: relative;
  color: var(--text-color-descript);
}
.showAllcontent {
  overflow: visible;
  height: auto;
}
.activeStar {
  color: var(--active-star);
}
.iconTeacherInfoClasses {
  color: var(--icon-teacherClass);
}
.arrowShow {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateY(-24px);
  background: linear-gradient(181deg, hsl(0deg 0% 100% / 84%), transparent);
  font-size: 14px;
}
