@import url('../../../../../../../App.css');
.seprator {
  transform: translateY(-3px);
}
/* Day style component */
.notreserved {
  color: var(--text-color-day);
}
.bookedTime {
  cursor: not-allowed;
  color: var(--text-color-day-disable);
}
.activeCureentDate {
  background-color: var(--bg-currentDate);
}
.currentDateBolet {
  border-radius: 14px;
  color: #fff;
  background-color: #ff4370;
  padding: 2px 18px;
  font-size: 14px;
}
