@import url("../../../../../../../App.css");
.seprator {
  transform: translateY(-3px);
}
/* Day style component */
.notreserved {
  color: var(--text-color-day);
  border: 2px solid transparent;
}
.notreserved:hover {
  border: 2px solid var(--bg-btnActive);
  border-radius: 5px;
}
.bookedTime {
  cursor: not-allowed;
  color: var(--text-color-day-disable);
  padding: 5px 10px;
  border: 2px solid transparent;
}
.activeCureentDate {
  background-color: var(--bg-currentDate);
}
.currentDateBolet {
  border-radius: 14px;
  color: #fff;
  background-color: #ff4370;
  padding: 2px 18px;
  font-size: 14px;
}
